

body, html{
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue" 
}

header{
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
}

tabRegular{
  color: white;
  
