.header {
    background-color: #005bf7;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
body {
    overflow-x: hidden;
    background-color: #2b2b2b;
    margin: 0px
}

span, h2, h3, h4, h5, h6, p, .text{
    font-family: Quicksand;
    color: white
}
h1 {
    color: white;
    margin-right: 30px;
    padding-bottom: 6px;
    font-family: Quicksand;
    display: flex;
    align-self: center;
}
.tab {
    background: #005bf7;
    transition: 0.3s background ease-in-out;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 0;
    align-self: flex-start;
    height: 100%;
    padding: 0px 15px 0px 15px;
}
.tab:hover {
    background: #004fd6;
}
.container {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px
}
.button {
    background: #005bf7;
    transition: 0.3s background ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    cursor: pointer
}
.button:hover {
    background: #004fd6;
}

.titlebox {
    width: 100%;
    height: fit-content;
    padding: 20px 30px 20px 30px;
    background-color: #005dfd54;
    font-size: 22px;
}

a {
    color: #005bf7
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dodgerblue
}
