

body, html{
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

header{
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

tabRegular {
  color: white;
}

tab{
    color: white;
    background: dodgerblue;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    font-family: "Helvetica Neue";
    display: inline-block;
    height: 50px
}

tab:hover {
    background: #1c83e9
}
