

body, html{
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue" 
}

header{
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center
}

tabRegular{
  color: white;
  
